# Define your own values for these variables
# - DO NOT put single or double quotes around values, or add space around '='
# - DO NOT use these characters within values: \ " '
VPN_IPSEC_PSK=vpnpswd
VPN_USER=vpnuser
VPN_PASSWORD=vpnpswd
